.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 811px;
	min-height: 418px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px 19px;
}

#u1544
{
	z-index: 31;
	width: 810px;
	padding-bottom: 0px;
	margin-left: 1px;
	position: relative;
}

#u1553-4
{
	z-index: 32;
	width: 810px;
	min-height: 42px;
	border-style: none;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u1553-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px;
}

#u1553-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px;
}

#pu1549-6
{
	width: 0.01px;
	margin-top: 22px;
	position: relative;
}

#u1549-6
{
	z-index: 72;
	width: 160px;
	min-height: 73px;
	padding: 6px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

.SectionBox
{
	border-style: none;
	border-color: #000000;
	background-color: #C1272D;
}

#pu1562-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u1562-4
{
	z-index: 36;
	width: 623px;
	min-height: 31px;
	background-color: #F0F0F0;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	padding: 7px 4px 4px;
}

#u1558-4
{
	z-index: 40;
	width: 623px;
	min-height: 9px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 8px;
	position: relative;
	padding: 7px 4px 4px;
}

#pu1550
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 7px;
	position: relative;
}

#u1550
{
	z-index: 90;
	width: 795px;
	position: relative;
	margin-right: -10000px;
}

#u1548-4
{
	z-index: 92;
	width: 165px;
	min-height: 35px;
	padding: 3px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1555-4
{
	z-index: 96;
	width: 147px;
	min-height: 36px;
	padding: 3px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 642px;
}

#u1554-4
{
	z-index: 78;
	width: 68px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

.ListTitle
{
	border-style: none;
	border-color: #000000;
	background-color: #8CC63F;
}

#u1561-4
{
	z-index: 44;
	width: 726px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

.TextBox1,.List1
{
	border-style: none;
	border-color: #000000;
	background-color: #F0F0F0;
}

#u1560-4
{
	z-index: 82;
	width: 68px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1552-4
{
	z-index: 56;
	width: 726px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u1547-4
{
	z-index: 60;
	width: 726px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 76px;
	position: relative;
}

.List2
{
	border-style: none;
	border-color: #000000;
	background-color: #D7D7D7;
}

#u1556-4
{
	z-index: 64;
	width: 726px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 76px;
	position: relative;
}

.List3
{
	border-style: none;
	border-color: #000000;
	background-color: #BEBEBE;
}

#pu1560-4,#pu1557-4
{
	width: 0.01px;
	margin-top: 7px;
	position: relative;
}

#u1557-4
{
	z-index: 86;
	width: 68px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1546-4
{
	z-index: 48;
	width: 726px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u1545-4
{
	z-index: 52;
	width: 726px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 76px;
	position: relative;
}

#u1559-4
{
	z-index: 68;
	width: 726px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 76px;
	position: relative;
}

#u1533
{
	z-index: 2;
	width: 810px;
	padding-bottom: 0px;
	margin-left: 1px;
	margin-top: 40px;
	position: relative;
}

#u1537-4
{
	z-index: 25;
	width: 155px;
	min-height: 51px;
	padding: 6px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1538-6
{
	z-index: 3;
	width: 628px;
	min-height: 16px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	padding: 7px 4px 4px;
}

#u1536-4
{
	z-index: 13;
	width: 628px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 7px;
	position: relative;
	padding: 7px 4px 4px;
}

#u1535-4
{
	z-index: 17;
	width: 802px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 8px;
	position: relative;
	padding: 7px 4px 4px;
}

#u1540
{
	z-index: 29;
	width: 800px;
	border-width: 5px;
	border-style: solid;
	border-color: #F1E9CF;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u1534-4
{
	z-index: 9;
	width: 802px;
	min-height: 16px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 7px;
	position: relative;
	padding: 7px 4px 4px;
}

#u1539-4
{
	z-index: 21;
	width: 802px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 7px;
	position: relative;
	padding: 7px 4px 4px;
}

#u1564
{
	z-index: 100;
	width: 810px;
	padding-bottom: 0px;
	margin-left: 1px;
	margin-top: 41px;
	position: relative;
}

#u1571-4
{
	z-index: 109;
	width: 155px;
	min-height: 50px;
	padding: 6px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#pu1614-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u1614-4
{
	z-index: 101;
	width: 628px;
	min-height: 16px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	padding: 7px 4px 4px;
}

#u1619-4
{
	z-index: 105;
	width: 628px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 6px;
	position: relative;
	padding: 7px 4px 4px;
}

#pu1554-4,#pu1613
{
	width: 0.01px;
	margin-top: 8px;
	position: relative;
}

#u1613
{
	z-index: 113;
	width: 810px;
	border-style: none;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

.SectionBG
{
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	background-color: #D7CA9D;
}

#u1613_position_content
{
	margin-bottom: 34px;
}

#u1621
{
	z-index: 167;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u1575-5
{
	z-index: 114;
	width: 732px;
	min-height: 36px;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 70px;
}

#u1572-4
{
	z-index: 119;
	width: 797px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 1px;
	position: relative;
	padding: 8px 6px;
}

#u1617-12
{
	z-index: 123;
	width: 797px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 1px;
	margin-top: 139px;
	position: relative;
	padding: 8px 6px;
}

#u1617-2
{
	color: #C1272D;
	font-weight: bold;
}

#pu1616-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 74px;
	position: relative;
}

#u1616-4
{
	z-index: 163;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1570-4
{
	z-index: 139;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#pu1573-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 32px;
	position: relative;
}

#u1573-4
{
	z-index: 274;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1568-4
{
	z-index: 171;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#pu1566-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 48px;
	position: relative;
}

#u1566-4
{
	z-index: 278;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1615-4
{
	z-index: 258;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u1618-4
{
	z-index: 135;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 100px;
}

#u1567-8
{
	z-index: 143;
	width: 693px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
	left: 100px;
}

#u1620-8
{
	z-index: 151;
	width: 693px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 466px;
	left: 100px;
}

#u1620-2
{
	color: #C1272D;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u1569-4
{
	z-index: 159;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 8px;
}

#u1611
{
	z-index: 169;
	width: 636px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 86px;
}

#u1574-8
{
	z-index: 262;
	width: 693px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 522px;
	left: 100px;
}

#u1565-4
{
	z-index: 270;
	width: 693px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 594px;
	left: 100px;
}

#u1576
{
	z-index: 175;
	width: 810px;
	padding-bottom: 0px;
	margin-top: 5px;
	position: relative;
}

#u1601
{
	z-index: 176;
	width: 220px;
	margin-left: 294px;
	position: relative;
}

#u1585
{
	z-index: 223;
	width: 810px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

#u1603
{
	z-index: 256;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u1608-5
{
	z-index: 224;
	width: 732px;
	min-height: 36px;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 70px;
}

#u1578-7
{
	z-index: 229;
	width: 798px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	padding: 8px 6px;
}

#u1589-4
{
	z-index: 236;
	width: 798px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 56px;
	position: relative;
	padding: 8px 6px;
}

#u1577-4
{
	z-index: 240;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 100px;
}

#u1600-4
{
	z-index: 244;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 100px;
}

#u1588-4
{
	z-index: 248;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 8px;
}

#u1599-4
{
	z-index: 252;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 7px;
}

#u1605
{
	z-index: 187;
	width: 220px;
	margin-left: 294px;
	margin-top: 5px;
	position: relative;
}

#pu1585,#pu1584
{
	width: 0.01px;
	margin-top: 9px;
	position: relative;
}

#u1584
{
	z-index: 191;
	width: 810px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

#u1609
{
	z-index: 208;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u1598-5
{
	z-index: 192;
	width: 732px;
	min-height: 36px;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 70px;
}

#u1590-4
{
	z-index: 197;
	width: 797px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 1px;
	position: relative;
	padding: 8px 6px;
}

#u1607-7
{
	z-index: 201;
	width: 797px;
	min-height: 84px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 1px;
	margin-top: 208px;
	position: relative;
	padding: 8px 6px;
}

#u1591
{
	z-index: 210;
	width: 798px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 6px;
}

#u1592-4
{
	z-index: 211;
	width: 373px;
	min-height: 7px;
	background-color: #F1E9CF;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	padding: 8px 6px;
}

#u1594
{
	z-index: 219;
	width: 385px;
	margin-top: 7px;
	position: relative;
}

#pu1593-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u1593-4
{
	z-index: 215;
	width: 393px;
	min-height: 7px;
	background-color: #F1E9CF;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	padding: 8px 6px;
}

#u1596
{
	z-index: 221;
	width: 405px;
	margin-top: 7px;
	position: relative;
}

#u1586
{
	z-index: 189;
	width: 220px;
	margin-left: 295px;
	margin-top: 5px;
	position: relative;
}

#u1579
{
	z-index: 178;
	width: 810px;
	margin-top: 9px;
	position: relative;
}

#u1582
{
	z-index: 179;
	width: 810px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

#u1580
{
	z-index: 185;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u1583-5
{
	z-index: 180;
	width: 732px;
	min-height: 36px;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 70px;
}

#u1575-3,#u1608-3,#u1598-3,#u1583-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1575,#u1608,#u1598,#u1583
{
	line-height: 43px;
}

#u1575-2,#u1608-2,#u1598-2,#u1583-2
{
	font-size: 20px;
	line-height: 24px;
}

#u1633
{
	z-index: 282;
	width: 811px;
	padding-bottom: 0px;
	margin-top: 40px;
	position: relative;
}

#pu1687-4
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u1687-4
{
	z-index: 291;
	width: 155px;
	min-height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	padding: 6px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#pu1538-6,#pu1684-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u1684-4
{
	z-index: 283;
	width: 628px;
	min-height: 16px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	padding: 7px 4px 4px;
}

#u1666-4
{
	z-index: 287;
	width: 628px;
	min-height: 12px;
	color: #000000;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 7px;
	position: relative;
	padding: 7px 4px 4px;
}

#pu1673-4
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: 8px;
	position: relative;
}

#u1673-4
{
	z-index: 295;
	width: 284px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1663-4
{
	z-index: 299;
	width: 286px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u1669-4
{
	z-index: 335;
	width: 196px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1636-4
{
	z-index: 303;
	width: 284px;
	min-height: 15px;
	padding: 4px;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u1664-4
{
	z-index: 319;
	width: 285px;
	min-height: 15px;
	padding: 4px;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u1686-4
{
	z-index: 343;
	width: 196px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1699-4
{
	z-index: 311;
	width: 284px;
	min-height: 15px;
	padding: 4px;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u1696-4
{
	z-index: 327;
	width: 285px;
	min-height: 15px;
	padding: 4px;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u1662-4
{
	z-index: 339;
	width: 196px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1685-4
{
	z-index: 307;
	width: 284px;
	min-height: 15px;
	padding: 4px;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u1661-4
{
	z-index: 323;
	width: 285px;
	min-height: 15px;
	padding: 4px;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#pu1669-4,#pu1686-4,#pu1662-4,#pu1704-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}

#u1704-4
{
	z-index: 347;
	width: 196px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1683-4
{
	z-index: 315;
	width: 284px;
	min-height: 15px;
	padding: 4px;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u1642-4
{
	z-index: 331;
	width: 285px;
	min-height: 17px;
	padding: 4px;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u1656-4
{
	z-index: 385;
	width: 802px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
	padding: 7px 4px 4px;
}

#pu1592-4,#pu1639-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1639-4
{
	z-index: 516;
	width: 132px;
	min-height: 15px;
	background-color: #8CC63F;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1698
{
	z-index: 583;
	width: 140px;
	position: relative;
}

.InformationBG
{
	border-style: none;
	border-color: #000000;
	background-color: #B3E473;
}

#u1657
{
	z-index: 593;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1670-25
{
	z-index: 532;
	width: 661px;
	min-height: 157px;
	padding: 4px;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

.TableCell-1
{
	border-style: none;
	border-color: #000000;
	background-color: #D7CA9D;
}

#u1649-21
{
	z-index: 476;
	width: 662px;
	min-height: 157px;
	padding: 4px;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	left: 139px;
}

#u1665-4
{
	z-index: 520;
	width: 132px;
	min-height: 15px;
	background-color: #8CC63F;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1678
{
	z-index: 584;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u1671
{
	z-index: 589;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1650-4
{
	z-index: 524;
	width: 132px;
	min-height: 15px;
	background-color: #8CC63F;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1660
{
	z-index: 585;
	width: 140px;
	position: relative;
}

#u1640
{
	z-index: 587;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1638-19
{
	z-index: 497;
	width: 661px;
	min-height: 157px;
	padding: 4px;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#ppu1639-4,#pu1649-21,#ppu1650-4,#ppu1697-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#pu1650-4,#pu1697-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1697-4
{
	z-index: 528;
	width: 132px;
	min-height: 15px;
	background-color: #8CC63F;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1637
{
	z-index: 586;
	width: 140px;
	position: relative;
}

#u1634
{
	z-index: 591;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1659-26
{
	z-index: 557;
	width: 661px;
	min-height: 157px;
	padding: 4px;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u1670-4,#u1670-11,#u1670-19,#u1649-5,#u1649-11,#u1649-17,#u1638,#u1638-7,#u1638-13,#u1659,#u1659-7,#u1659-13,#u1659-18
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
}

#u1648-4
{
	z-index: 351;
	width: 802px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
	padding: 7px 4px 4px;
}

#u1700
{
	z-index: 355;
	width: 796px;
	margin-left: 7px;
	margin-top: 7px;
	position: relative;
}

#u1703-4
{
	z-index: 364;
	width: 101px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1701-4
{
	z-index: 356;
	width: 680px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1702-4
{
	z-index: 360;
	width: 680px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1691
{
	z-index: 368;
	width: 796px;
	margin-left: 7px;
	margin-top: 8px;
	position: relative;
}

#u1694-4
{
	z-index: 381;
	width: 101px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1692-4
{
	z-index: 369;
	width: 680px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u1693-4
{
	z-index: 377;
	width: 680px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 109px;
	position: relative;
}

#u1695-4
{
	z-index: 373;
	width: 680px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 109px;
	position: relative;
}

#u1679
{
	z-index: 389;
	width: 796px;
	margin-left: 7px;
	margin-top: 8px;
	position: relative;
}

#u1681-4
{
	z-index: 398;
	width: 101px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#pu1701-4,#pu1680-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u1680-4
{
	z-index: 390;
	width: 680px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1682-4
{
	z-index: 394;
	width: 680px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1668-4
{
	z-index: 402;
	width: 802px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 15px;
	position: relative;
	padding: 7px 4px 4px;
}

#u1667-4
{
	z-index: 406;
	width: 802px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 6px;
	position: relative;
	padding: 7px 4px 4px;
}

#u1688
{
	z-index: 410;
	width: 799px;
	margin-left: 5px;
	margin-top: 16px;
	position: relative;
}

#u1689-4
{
	z-index: 411;
	width: 791px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1690-4
{
	z-index: 415;
	width: 791px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	padding: 7px 4px 4px;
}

#pu1651
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 7px;
	position: relative;
}

#u1651
{
	z-index: 419;
	width: 394px;
	position: relative;
	margin-right: -10000px;
}

#u1655-4
{
	z-index: 420;
	width: 386px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1652-8
{
	z-index: 424;
	width: 386px;
	min-height: 374px;
	padding: 4px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u1652-2,#u1652-3,#u1652-5
{
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1652-6
{
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1653
{
	z-index: 432;
	width: 283px;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 49px;
}

#u1643
{
	z-index: 434;
	width: 394px;
	position: relative;
	margin-right: -10000px;
	left: 406px;
}

#u1644-4
{
	z-index: 435;
	width: 386px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#pu1537-4,#pu1571-4,#pu1621,#pu1603,#pu1609,#pu1694-4,#pu1652-8,#pu1645-9
{
	width: 0.01px;
	position: relative;
}

#u1645-9
{
	z-index: 439;
	width: 386px;
	min-height: 374px;
	padding: 4px;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1646
{
	z-index: 448;
	width: 238px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 78px;
}

#u1674
{
	z-index: 450;
	width: 800px;
	margin-left: 5px;
	margin-top: 15px;
	position: relative;
}

#u1676-4
{
	z-index: 451;
	width: 792px;
	min-height: 15px;
	padding: 4px;
	color: #FFFFFF;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 1px;
	position: relative;
}

#u1677-8
{
	z-index: 455;
	width: 792px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-left: 1px;
	position: relative;
	padding: 7px 4px 4px;
}

#u1675-13
{
	z-index: 463;
	width: 792px;
	min-height: 15px;
	padding: 4px;
	color: #000000;
	text-align: justify;
	position: relative;
}

#u1538-2,#u1675-6
{
	color: #0000FF;
}

#u1712
{
	z-index: 595;
	width: 810px;
	margin-top: 41px;
	position: relative;
}

#u1713-4
{
	z-index: 703;
	width: 155px;
	min-height: 50px;
	padding: 6px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
}

#u1714
{
	z-index: 596;
	width: 810px;
	margin-top: 8px;
	position: relative;
}

#u1715-4
{
	z-index: 597;
	width: 802px;
	min-height: 16px;
	padding: 4px;
	color: #FFFFFF;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1716-32
{
	z-index: 601;
	width: 802px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	position: relative;
	padding: 7px 4px 4px;
}

#u1670-9,#u1670-10,#u1670-17,#u1670-18,#u1670-23,#u1649-3,#u1649-9,#u1649-15,#u1638-5,#u1638-11,#u1638-17,#u1659-5,#u1659-11,#u1659-16,#u1659-24,#u1675-4,#u1716-4,#u1716-9,#u1716-14,#u1716-18,#u1716-25,#u1716-30
{
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1717
{
	z-index: 633;
	width: 810px;
	margin-top: 7px;
	position: relative;
}

#u1719-4
{
	z-index: 634;
	width: 802px;
	min-height: 16px;
	padding: 4px;
	color: #FFFFFF;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1718-65
{
	z-index: 638;
	width: 802px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	padding: 7px 4px 4px;
}

#u1567,#u1567-2,#u1567-3,#u1567-4,#u1567-5,#u1620,#u1620-3,#u1620-4,#u1620-5,#u1574,#u1574-2,#u1574-3,#u1574-4,#u1574-5,#u1670-2,#u1670-3,#u1670-5,#u1670-6,#u1670-7,#u1670-8,#u1670-12,#u1670-13,#u1670-14,#u1670-15,#u1670-16,#u1670-20,#u1670-21,#u1670-22,#u1649,#u1649-2,#u1649-4,#u1649-6,#u1649-7,#u1649-8,#u1649-10,#u1649-12,#u1649-13,#u1649-14,#u1649-16,#u1649-19,#u1638-2,#u1638-3,#u1638-4,#u1638-6,#u1638-8,#u1638-9,#u1638-10,#u1638-12,#u1638-14,#u1638-15,#u1638-16,#u1659-2,#u1659-3,#u1659-4,#u1659-6,#u1659-8,#u1659-9,#u1659-10,#u1659-12,#u1659-14,#u1659-15,#u1659-17,#u1659-19,#u1659-20,#u1659-21,#u1659-22,#u1659-23,#u1677,#u1677-2,#u1677-3,#u1677-4,#u1677-5,#u1675,#u1675-2,#u1675-3,#u1675-5,#u1675-8,#u1675-9,#u1675-11,#u1716,#u1716-2,#u1716-3,#u1716-5,#u1716-6,#u1716-7,#u1716-8,#u1716-10,#u1716-11,#u1716-12,#u1716-13,#u1716-15,#u1716-16,#u1716-17,#u1716-19,#u1716-21,#u1716-22,#u1716-23,#u1716-24,#u1716-26,#u1716-27,#u1716-28,#u1716-29,#u1718,#u1718-2,#u1718-4,#u1718-5,#u1718-7,#u1718-8,#u1718-10,#u1718-11,#u1718-13,#u1718-14,#u1718-16,#u1718-17,#u1718-19,#u1718-20,#u1718-22,#u1718-23,#u1718-25,#u1718-26,#u1718-28,#u1718-29,#u1718-31,#u1718-32,#u1718-34,#u1718-35,#u1718-37,#u1718-38,#u1718-40,#u1718-41,#u1718-43,#u1718-44,#u1718-46,#u1718-47,#u1718-49,#u1718-50,#u1718-52,#u1718-53,#u1718-55,#u1718-56,#u1718-58,#u1718-59,#u1718-61,#u1718-62
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

