.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 810px;
	min-height: 417.82499999999914px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62.175000000000864px;
}

#u1184
{
	z-index: 2;
	width: 810px;
	padding-bottom: 0px;
	position: relative;
}

#u820-4
{
	z-index: 11;
	width: 155px;
	min-height: 50px;
	padding: 6px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

.SectionBox
{
	border-style: none;
	border-color: #000000;
	background-color: #C1272D;
}

#pu741-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u741-4
{
	z-index: 3;
	width: 628px;
	min-height: 16px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	padding: 7px 4px 4px;
}

#u791-4
{
	z-index: 7;
	width: 628px;
	min-height: 12px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-top: 6px;
	position: relative;
	padding: 7px 4px 4px;
}

#pu792
{
	width: 0.01px;
	margin-top: 8px;
	position: relative;
}

#u792
{
	z-index: 30;
	width: 810px;
	border-style: none;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

.SectionBG
{
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	background-color: #D7CA9D;
}

#u792_position_content
{
	margin-bottom: 30px;
}

#u793
{
	z-index: 84;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u739-5
{
	z-index: 31;
	width: 732px;
	min-height: 36px;
	color: #000000;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 70px;
}

#u746-4
{
	z-index: 36;
	width: 797px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-left: 1px;
	position: relative;
	padding: 8px 6px;
}

#u855-12
{
	z-index: 40;
	width: 797px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-left: 1px;
	margin-top: 139px;
	position: relative;
	padding: 8px 6px;
}

#pu813-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 74px;
	position: relative;
}

#u813-4
{
	z-index: 80;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

.ListTitle
{
	border-style: none;
	border-color: #000000;
	background-color: #8CC63F;
}

#u858-4
{
	z-index: 56;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

.TextBox1,.List1
{
	border-style: none;
	border-color: #000000;
	background-color: #F0F0F0;
}

#u749-4
{
	z-index: 177;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u824-4
{
	z-index: 157;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#pu749-4,#pu863-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 49px;
	position: relative;
}

#u863-4
{
	z-index: 181;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u787-4
{
	z-index: 161;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u860-4
{
	z-index: 52;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 100px;
}

#u761-8
{
	z-index: 60;
	width: 693px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
	left: 100px;
}

.List2
{
	border-style: none;
	border-color: #000000;
	background-color: #D7D7D7;
}

#u755-8
{
	z-index: 68;
	width: 693px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 466px;
	left: 100px;
}

#u855-2,#u755-2
{
	color: #C1272D;
	font-weight: bold;
}

#u864-4
{
	z-index: 76;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 8px;
}

#u758
{
	z-index: 86;
	width: 636px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 86px;
}

#u817-8
{
	z-index: 165;
	width: 693px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
	left: 100px;
}

#u857-4
{
	z-index: 173;
	width: 693px;
	min-height: 13px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 612px;
	left: 100px;
}

#u735
{
	z-index: 15;
	width: 220px;
	margin-left: 294px;
	margin-top: 5px;
	position: relative;
}

#u1113
{
	z-index: 121;
	width: 810px;
	margin-top: 9px;
	position: relative;
}

#u754
{
	z-index: 122;
	width: 810px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

#u785
{
	z-index: 155;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u768-5
{
	z-index: 123;
	width: 732px;
	min-height: 36px;
	color: #000000;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 70px;
}

#u867-7
{
	z-index: 128;
	width: 798px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	padding: 8px 6px;
}

#u760-4
{
	z-index: 135;
	width: 798px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-top: 56px;
	position: relative;
	padding: 8px 6px;
}

#u780-4
{
	z-index: 139;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 100px;
}

#u744-4
{
	z-index: 143;
	width: 693px;
	min-height: 17px;
	padding: 4px;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 100px;
}

#u766-4
{
	z-index: 147;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 8px;
}

#u769-4
{
	z-index: 151;
	width: 84px;
	min-height: 17px;
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 7px;
}

#u762
{
	z-index: 26;
	width: 220px;
	margin-left: 294px;
	margin-top: 5px;
	position: relative;
}

#u1119
{
	z-index: 88;
	width: 810px;
	margin-top: 9px;
	position: relative;
}

#u854
{
	z-index: 89;
	width: 810px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

#pu820-4,#pu793,#pu785,#pu847
{
	width: 0.01px;
	position: relative;
}

#u847
{
	z-index: 106;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u818-5
{
	z-index: 90;
	width: 732px;
	min-height: 36px;
	color: #000000;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 70px;
}

#u826-4
{
	z-index: 95;
	width: 797px;
	min-height: 7px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-left: 1px;
	position: relative;
	padding: 8px 6px;
}

#u751-7
{
	z-index: 99;
	width: 797px;
	min-height: 84px;
	color: #000000;
	text-align: justify;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-left: 1px;
	margin-top: 208px;
	position: relative;
	padding: 8px 6px;
}

#u1116
{
	z-index: 108;
	width: 798px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 6px;
}

#pu828-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u828-4
{
	z-index: 109;
	width: 373px;
	min-height: 7px;
	background-color: #F1E9CF;
	color: #000000;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	padding: 8px 6px;
}

#u778
{
	z-index: 117;
	width: 385px;
	margin-top: 7px;
	position: relative;
}

#pu790-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u790-4
{
	z-index: 113;
	width: 393px;
	min-height: 7px;
	background-color: #F1E9CF;
	color: #000000;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	padding: 8px 6px;
}

#u732
{
	z-index: 119;
	width: 405px;
	margin-top: 7px;
	position: relative;
}

#u822
{
	z-index: 28;
	width: 220px;
	margin-left: 295px;
	margin-top: 5px;
	position: relative;
}

#u1120
{
	z-index: 17;
	width: 810px;
	margin-top: 9px;
	position: relative;
}

#u783
{
	z-index: 18;
	width: 810px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

#u809
{
	z-index: 24;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u774-5
{
	z-index: 19;
	width: 732px;
	min-height: 36px;
	color: #000000;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 70px;
}

#u739-3,#u768-3,#u818-3,#u774-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u739,#u768,#u818,#u774
{
	line-height: 43px;
}

#u739-2,#u768-2,#u818-2,#u774-2
{
	font-size: 20px;
	line-height: 24px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

